/************ 1. Table  **************/
.tr-border {
	border-bottom: 1px solid gray;
	
	  
}

.table-row-spacing {
	padding: 10px 40px 10px 40px;
	

}




/*********** 2. Stats ************/

.big-text {
	font-size: 30px;
	font-weight: bold;
	 width: 100%;
	 text-align: center;
	
}

.small-text {
	font-size: 10px;
	font-weight: 250;
	color: gray;
	text-align: center;
}

.border {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-color: gray;
	}

.padding {
	padding: 12px 12px 15px 10px;
}

.spacing2 {
    border-collapse: separate;
    border-spacing: 15px 5px;

}

/*********** 3. Bar Chart ************/
.coloring {
	background: #3399FF
;
	color: white;
	padding-left: 3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	}

.table-size {
 width: 100%;
}

.wide{
	text-align: left;
	white-space: nowrap;
	width: 12%;
}

.bar {
	width: 100%;
	padding: 2px 10px;
	margin: 2px 5px;

}


/********************* 4. Light Box **********************/

.gray-box {
	height: 500px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
/*	position: fixed;
*/	background-color: rgba(0,0,0,.5);
	display: table;
	-moz-box-sizing: border-box; 
}

.lightbox-container {
	display: table-cell;
	vertical-align: middle;
}


.light-box {
	/*height: 250px;*/
	max-width: 500px;
	background-color: white;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
}

.button {
	display: block;
	background-color: #FF8181;
	height: 15px;
	width: 80px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.pull-right {
	float: right;
}


/********************* 5. Media Block **********************/

.image {
	float: left;
}

.media-text {
	margin-left: 60px
}

.containter {
	position: relative;
}

.image-absolute {
	position: absolute:
}
.media-h2 {
	margin-left: 60px;	
	margin-top: -50px;
}

.media-p {
	margin-left: 60px;
}

.nested-h2 {
	margin-left: 100px;	
	margin-top: -35px;
}
.nested-text {
	margin-left: 100px;	
	margin-top: -10px;
}

.nested-img {
	margin-left: 60px;	
	margin-top: 5px;
}



































